p {
  color: navy;
  font-size: 25px;
  font-weight: 250;
  font-family: Georgia, "Times New Roman", Times, serif;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}
.smart {
  background-color: rgba(161, 160, 229, 0.664);
  border-radius: 5%;
  width: 350px;
  height: 450px;
  margin: 10px;
}
section {
  display: flex;
  justify-content: center;
}
